.TopBar .Title {
  float:left !important;
  padding: 1px 78% 1px 1px !important;
}

.TopBar .Buttons{
    float: right !important;
    border-top: 30px solid transparent !important;
  }

.TopBar {
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    display: flex !important;
    border-bottom:2px solid black;
    position: sticky !important;
}

